EXCHANGE=binance
API_KEY=
API_SECRET=
SYMBOL=BTC/USDT:USDT
DRY_RUN=true
MODE=LONG_ONLY

RISK_PER_TRADE=0.01
DAILY_MAX_LOSS=0.02
MAX_TRADES_PER_DAY=3
MAX_CONSECUTIVE_LOSSES=2
LEVERAGE=3

STOP_LOSS_PCT=0.006
TAKE_PROFIT_1R=1.0
TAKE_PROFIT_2R=1.7
PARTIAL_TP_RATIO=0.5

LOOP_SECONDS=300
